@charset "utf-8";
* *::before *::after{
  box-sizing: border-box;
}
body{
  background-color: rgb(66, 60, 60);
  margin: 0;
  font-family: sans-serif "Hiragino Sans";
  font-size: 62.5%;
  color: #fff;
}
a:link,a:checked,a:hover,a:active{
  text-decoration: none;
  color: #fff;
}
h1,h2,h3,p{
  font-weight: normal;
  margin: 0;
}
/* ヘッダー */
.wrapper{
  background: url(../test2/images/DJI_0004.png) no-repeat;
  background-size: cover;
}
.top-logo{
  margin: 0;
  display: block;
  float: left;
  height: 40px;
  width: 70px;
  background: url(../test2/images/グループ\ 6.png) no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.top-logo h1{
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.top-nav{
  margin: 0;
}
.top-nav{
  display: inline;
  float: right;
}
.top-nav ul{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding:0;
}
.top-nav li{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  font-family: Damascus;
  font-weight: bold;
  font-size:14px;
} 
.top-nav a{
  color: #fff;
}
.top-nav a:hover,.top-nav a:active{
  color: rgb(39, 174, 228);
}
.clearfix::after{
  content: '';
  clear: both;
  display: block;
}
/* ホーム */
.home{
  text-align: center;
  padding-bottom: 110px;
}
.home-text h1{
  font-size: 30px;
  font-weight: normal;
  padding-top: 90px;
  padding-bottom: 40px;
}
.home-text p{
  font-family: "Toppan Bunkyu Midashi Gothic";
  font-size: 15px;
  line-height: 300%;
}
.link-contact{
  display: inline-block;
  width: 500px;
  height: 80px;
  background-color: #20a0e0;
  margin: 70px auto 0;
  border-radius: 50px/40px;
}
.link-contact:hover,.link-contact:active{
  background-color:  #34bcd4;
  font-weight: bold;
}
.link-contact h2{
  display: inline-block;
  color: #fff;
  padding: auto;
  padding: 30px;
  font-family: "Toppan Bunkyu Midashi Gothic";
  font-weight: bold;
}
/* アバウト */
.about{
  text-align: center;
  background: url(../test2/images/マスクグループ\ 5.png) no-repeat;
  background-size: cover;
}
.about-h{
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 40px;
}
.about-p{
  font-size: 15px;
  line-height: 1.3rem;
}
.about-p.p2{
  padding-bottom: 55px;
}
/* サービス */
.services{
  background: url(../test2/images/マスクグループ\ 6.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}
.services-h{
  text-align: center;
  margin: 0;
}
.services-h h1{
  font-size: 40px;
  padding-top: 50px;
}
.services-h h2{
  font-size: 15px;
  font-family: "Toppan Bunkyu Gothic";
  padding-bottom: 70px;
} 
/* サービスアイテム */
.sitem{
  display: block;
  float: left;
  width: 320px;
  height: 330px;
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
}
.sitem.left{
  margin: 0 40px 0 50px;
}
.sitem.center{
  margin: 0 50px 0 50px;
}
.sitem.right{
  margin: 0 50px 0 40px;
}
.sitem-title{
  background: url(../test2/images/マスクグループ\ 3.png) no-repeat;
  background-size: cover;
}
.sitem-title h3{
  font-size: 14px;
  padding-top: 15px;
  font-weight: bolder;
}
.sitem-title p{
  font-size: 12px;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 10px;
}
.sitem-text1{
  font-size: 13px;
  color: black;
  padding-top: 20px;
  line-height: 1.2rem;
}
.sitem-text2{
  font-size: 14px;
  color: black;
  line-height: 2;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}
.sitem-list ul{
  list-style-type: none;
  color: black;
  border: 1px solid black;
  text-align: left;
  margin: 0 30px 30px 30px;
  background-color: rgb(223, 223, 223);
  font-size: 10px;
  font-weight: bolder;
  padding: 10px 0 10px 5px;
}
.right-text{
  padding-top: 40px;
  padding-bottom: 35px;
}
.clearfix::after{
  content: '';
  clear: both;
  display: block;
}
/* お問い合わせ */
.contact{
  text-align: center;
  background: url(../test2/images/マスクグループ\ 7.png) no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}
.contact-h h1{
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.contact-h p{
  font-size: 13px;
  line-height: 1.2rem;
  padding-bottom: 20px;
}
.contact-list{
  box-sizing: border-box;
  margin: 20px 30% 0 23%;
}
.contact-list th{
  margin-right: 10px;
  font-size: 12px;
  padding-bottom: 18px;
  padding-right: 15px;
}
.red,.gray{
  padding-bottom: 12px;
  font-size: 8px;
  font-weight: bold;
}
.red span{
  background-color: #FF4D4D;
  padding: 5px 5px 0;
}
.gray span{
  background-color: #A09F9F; 
  padding: 5px 5px 0;
}
input[type="text"]{
  width: 360px;
  height: 30px;
  border-radius: 10px 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
textarea{
  width: 360px;
  height: 100px;
  border-radius: 10px 10px;
  margin-left: 10px;
}
input[type="submit"]{
  display: block;
  margin: 20px auto ;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #20a0e0;
  color: #fff;
  font-weight: bold;
}
input[type="submit"]:hover{
  background-color: #33bfd8;
}
/* フッター */
.footer{
  text-align: center;
  background: url(../test2/images/マスクグループ\ 4.jpg) no-repeat;
  background-size: cover;
}
.end-nav ul{
  list-style-type: none;
  margin: 0;
  padding-top: 40px;
}
.end-nav li{
  display: inline-block;
  padding-right: 30px;
}
.end-nav a{
  color: #fff;
  font-size: 25px;
}
.end-nav a:hover,.end-nav a:active{
  color: rgb(39, 174, 228);
}
.end-logo{
  display: block;
  background: url(../test2/images/グループ\ 6.png) no-repeat;
  background-size: contain;
  width: 90px;
  height: 50px;
  margin: 10px auto 0;
}
.end-logo h1{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.footer p{
  text-align: right;
  margin: 0;
  padding-bottom: 10px;
}
/* タブレット */
@media(max-width:1025px) and (min-width:768px){
  /* header */
  .top-nav li{
    padding: 7px 10px 0 0;
  }
  .top-nav a{
    font-size: 11px;
  }
  /* home */
  .home{
    padding-bottom: 70px;
  }
  .home-text h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
  }
  .home-text p{
    font-size: 15px;
    line-height: 200%;
  }
  .link-contact{
    width: 360px;
    margin-top: 50px;
    height: 70px;
  }
  .link-contact h2{
    padding: 25px;
  }
  /* about */
  .about-h{
    font-size: 30px;
    font-weight: bold;
  } 
  .about-p{
    font-size: 15px;
  }
  /* services */
  .services-h h1{
    font-size: 30px;
    font-weight: bold;
  }
  .sitem.left,.sitem.right,.sitem.center{
    width: 30%;
    height: 300px;
    margin: 20px 1.5% 10px 1.5%;
  }
  .sitem-list ul{
    margin: 0 3% 7% 3%;
    font-size: 7px;
    height: 78px;
  }
  .sitem-text1 p{
    font-size: 85%;
  }
  .sitem-text2{
    padding-top: 6%;
    padding-bottom: 6%;
    line-height: 1.4;
  }
  .sitem-text2 p{
    font-size: 95%;
  }
  .right-text{
    padding-top: 10%;
    padding-bottom: 8%;
  }
  /* contact */
  .contact{
    padding-bottom: 40px;
  }
  .contact-h h1{
    font-weight: bold;
  }
  .contact-h p{
    font-size: 15px;
  }
  .contact-list {
    margin: 0;
    margin-top: 20px;
    margin-left: 10%;
  }
  .contact-list th{
    font-size: 12px;
    padding-right: 5px;
  }
  .red,.gray{
    font-size: 10px;
    padding: 0 0 13px;
  }
  .red span{
    padding: 3px 5px 0;
  }
  .gray span{
    padding: 3px 5px 0;
  }
  .contact-list{
    width: 80%;
    margin: 20px auto;
  }
  .submit{
    margin: 20px auto ;
  }
  /* footer */
  .end-nav li{
    padding: 0 5% 0 0;
  }
  .end-nav a{
    font-size: 20px;
    font-weight: bold;
  }
  .footer p{
    font-size: 0.3em;
  }
}
/* 一応 */
@media (max-width:765px) and (min-width:420px){
  /* services */
  .services-h h1{
    font-size: 30px;
    font-weight: bold;
  }
  .sitem.left,.sitem.right,.sitem.center{
    width: 80%;
    height: 80%;
    margin: 15px 10% 20px 10%;
    float: none;
  }
  .sitem-list ul{
    margin: 0 7% 10% 7%;
  }
  .sitem-text1 p{
    font-size: 100%;
  }
  .sitem-text2{
    padding-top: 6%;
    padding-bottom: 6%;
    line-height: 1.4;
  }
  .sitem-text2 p{
    font-size: 100%;
  }
  .right-text{
    padding-top: 10%;
    padding-bottom: 8%;
  }
  /* contact */
  .contact{
    padding-bottom: 40px;
  }
  .contact-h h1{
    font-weight: bold;
  }
  .contact-h p{
    font-size: 12px;
  }
  .contact-list {
    margin-top: 20px;
  }
  .contact-list th{
    font-size: 12px;
    padding-right: 3px;
  }
  .red,.gray{
    font-size: 9px;
    padding: 0 0 13px;
  }
  .red span{
    padding: 5px 7px 0;
  }
  .gray span{
    padding: 5px 7px 0;
  }
  input[type="text"]{
    width: 240px;
    padding-left: 5px;
  }
  textarea{
    width: 240px;
    padding-left: 5px;
  }
  .submit{
    margin: 20px auto ;
  }
}
/* スマホ */
@media(max-width:415px){
  /* header */
  .top-nav li{
    padding: 7px 10px 0 0;
  }
  .top-nav a{
    font-size: 11px;
  }
  /* home */
  .home{
    padding-bottom: 70px;
  }
  .home-text h1{
    font-size: 16px;
    font-weight: bold;
    padding-top: 50px;
  }
  .home-text p{
    font-size: 12px;
    line-height: 200%;
  }
  .link-contact{
    width: 270px;
    margin-top: 50px;
    height: 70px;
  }
  .link-contact h2{
    padding: 25px;
  }
  /* about */
  .about-h{
    font-size: 22px;
    font-weight: bold;
  } 
  .about-p{
    font-size: 10px;
  }
  /* services */
  .services-h h1{
    font-size: 30px;
    font-weight: bold;
  }
  .sitem.left,.sitem.right,.sitem.center{
    width: 80%;
    height: 100%;
    margin: 20px auto 10px;
    float: none;
  }
  .sitem-list ul{
    margin: 0 3% 7% 3%;
  }
  .sitem-text1 p{
    font-size: 90%;
  }
  .sitem-text2{
    padding-top: 6%;
    padding-bottom: 6%;
    line-height: 1.4;
  }
  .sitem-text2 p{
    font-size: 95%;
  }
  /* contact */
  .contact{
    padding-bottom: 20px;
  }
  .contact-h h1{
    font-weight: bold;
  }
  .contact-h p{
    font-size: 10px;
  }
  .contact-list {
    margin: 0;
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 3%;
  }
  .contact-list th{
    font-size: 9px;
    padding-right: 5px;
  }
  .red,.gray{
    font-size: 5px;
    padding: 0 0 13px;
  }
  .red span{
    padding:  0 2px 0 0;
  }
  .gray span{
    padding: 0 2px 0 0;
  }
  input[type="text"]{
    width: 100%;
    padding-left: 5px;
  }
  textarea{
    width: 100%;
    padding-left: 5px;
  }
  .submit{
    margin: 20px auto ;
  }
  /* footer */
  .end-nav ul{
    padding-left: 10px;
  }
  .end-nav li{
    padding: 0 5% 0 0;
  }
  .end-nav a{
    font-size: 14px;
    font-weight: bold;
  }
  .footer p{
    font-size: 0.3em;
  }
}